:root {

}

#header {
  margin: -100px 0 -50px 0;
  text-align: center;
}

#header img {
  max-width: 450px;
}

#form {
  text-align: center;
  
}

#ask-kaia {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 1.4rem 2rem 1.6rem;
  background-color: rgba(128, 128, 128, 0.104);
}

textarea { 
  border-style: none; 
  background: transparent; 
  outline: none; 
  resize: none;
}

#ask-kaia:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 3px;
  background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}

@keyframes gradient { 
  0%{background-position:0 0}
  100%{background-position:100% 0}
}
